My project (1)/.vscode/extensions.json
My project (1)/.vscode/launch.json
My project (1)/.vscode/settings.json
My project (1)/Packages/manifest.json
My project (1)/Packages/packages-lock.json
My project (1)/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
